$font-family: "Jost", sans-serif;
$second-family: "Raleway", sans-serif;
$third-family: "Poppins", sans-serif;

$transition:  .3s ease-in-out;

$white: #fff;
$grey:  #f6f6f6;
$black: #000;
$sea:  #345d73;
$gold:  #e7bc6d;
$brown: #333;

