@use "mixins";
@use "../variables" as *;

html {
    background-color: $grey;
    scroll-behavior:  smooth;
    height:           100%;
}


body {
    font-family: $font-family;
    font-style:  normal;
    padding:     32px 50px 0;

    @include mixins.tablet {
        padding: 20px;
    }
    @include mixins.mobile {
        padding: 20px 10px;
    }
}

header, main, footer {
    max-width: 1820px;
    margin:    0 auto;
}

svg {
    path, rect, circle {
        transition: all $transition;
    }
}


.container {
    width:                 100%;
    margin:                0 auto;
    display:               grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap:            30px;


    @include mixins.tablet {
        grid-template-columns: 1fr;
        column-gap:            0;
        padding-left:          15px;
        padding-right:         15px;
    }

    @include mixins.mobile {

    }
}

