@use "mixins";
@use "../variables" as *;

html {
    background-color: white;
    scroll-behavior:  smooth;
    height:           100%;
}

body {
    font-family: $font-family;
    font-style:  normal;
}

svg {
    path, rect, circle {
        transition: all $transition;
    }
}

.container {
    padding:       0 40px;
    width:         100%;
    max-width:     1920px;
    margin-inline: auto;

    @include mixins.mobile {
        padding-left:  20px;
        padding-right: 20px;
    }
}

.btn {
    display:          inline-flex;
    align-items:      center;
    justify-content:  center;
    max-width:        100%;
    height:           62px;
    padding:          0 30px;
    border-radius:    4px;
    transition:       all $transition;
    text-decoration:  none;
    cursor:           pointer;
    border:           1px solid transparent;
    background-color: red;
    color:            $white;
    font-weight:      600;
    font-size:        24px;

    @include mixins.hover {
        background-color: gray;
    }

    @include mixins.laptopXL {
        height:    44px;
        padding:   0 24px;
        font-size: 16px;
    }

    @include mixins.mobile {
        height:    37px;
        padding:   0 20px;
        font-size: 14px;
    }
}